/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header {
  background-color: #99ff66;
}

footer {
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background-color: #ccc;
}
.just{
  text-align:center;
  padding:150px;
  background-color:#fffaf0;
  height:591px;
}
.psession{
  padding:50px 550px;
  background-color:#fffaf0;
  height:591px;
}
.guestlogin{
  padding:100px;
}
.regist{
  padding:50px 300px;
  background-color:#fffaf0;
  height:80%;
}
.fix{
  background-color:#fffaf0;
  height:591px;
}
.rate{
  background-color:#fffaf0;
}
.container{
  height:100%;
}
.row{
  height:100%;
}
.schedulenew{
  padding:0px 300px;
}
